{% extends '::index.html.twig' %}
{% block titrePage%}
	 Inscription
{% endblock %}
{% block contenu %}
{% if erreur %}
	{{ erreur }}
{% endif %}
 {{ form(form) }}
        <ul class="record_actions">
    <li>
        <a href="{{ path('inscription') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
