{% extends '::index.html.twig' %}

{% block title %}
	{{ parent() }}
	- Hello !

{% endblock %}

{% block titrePage %}Recherche de fiche d'activité{% endblock %}

{% block contenu %}
	<form action="{{ path('recherche') }}" method="post">
    
		<input  type="text" id="motCle" name="motCle" value="Recherche"/>
<!--		<input  type="text" id="age" name="age" value="Age"/>
        </br>
-->
		<input type="checkbox" id="titre" name="titre" />
        <label for="titre">Titre</label>
		<input type="checkbox" id="descriptif" name="descriptif" />	
        <label for="descriptif">Description</label>
        <button type="submit">Rechercher</button>
	</form>

<ul>
    <li> titre - descriptif</li>
    </br></br>
{% for resultat in resultats %}
    <li>{{ resultat.titre }} - {{ resultat.descriptif }}</li>
{% endfor %}

</ul>


{% endblock %}

